body {
    background-image: url("image/oboi.jpg") ;
    font-family: Helvetica,sans-serif;
    color:whitesmoke;
}
 #callback {
        width: 300px;
        height: 150px;
        background-color: grey;
        position: absolute;
        bottom: 30px;
        transform: translateX(-100%);
    
         }
    #callback p {
        color: #fff;
        padding: 22px;
        }
    #callback:after {
        content: 'ОБО МНЕ';
        background-color: rgb(1, 0, 79);
        text-align: center;
        border-radius: 0 0 8px 8px;
        padding: 5px 0;
        width: 150px; 
        position: absolute; 
        left: 300px; 
        transform: rotate(-90deg);
        transform-origin: 0 0;
        }
    #callback:hover {
        transform: translateX(0%);
        transition: all 0.7s ease;
        }  
header {
    text-align: center;
    margin-top: 200px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 200px;
    color:whitesmoke;
    text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
    0 -2px black, -1.41px -1.41px black, -2px 0 black,
   -1.41px 1.41px black, 0 2px black;
}

.opt {
    font-size: 20px;
    margin-left: 300px;
    margin-top: 250px;
    margin-right: auto;
}
.menu-list {
    display: flex;
    font-weight:600;
    font-size: 20px;
    margin: left 63px;
}

.menu-item:not(:last-child) {
    margin-right: 100px;
}

nav{
    height: 100px;
    justify-content: center;
    display:flex;
    list-style-type: none;
}
li {
    text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
    0 -2px black, -1.41px -1.41px black, -2px 0 black,
   -1.41px 1.41px black, 0 2px;
}